
* {
    box-sizing: border-box;
  }

body{
    padding: 20px;

}
h1{
   
    padding: 5px;
    color:rgb(41, 9, 9);
}
.left{
    background-color: antiquewhite;
    padding: 20px;
    width: 20%;
    float: left;


}
.main{
    background-color: tomato;
    padding: 20px;
    width: 60%;
    float: left;
}
.right{
    background-color: aquamarine;
    padding: 20px;
    float: left;
    width: 20%;
}
@media screen and (max-width:600px) {
    .left, .main, .right, .pg{
        width: 100%;
        float: left;
       
        
    }
    body{
        background-color: bisque;
    }
    
}
    p.text{
        color:grey; font-size: 25px; text-align: justify;
        border-bottom:2px solid black;
        
    }
    
    p{font-size: 25px;}
    .left, .main, .right{
        text-align: center;
    }
