p{
    color: red;
    border: 2px solid rebeccapurple;
    padding: 5px;
    margin: 30px;
}
h1{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
}
body{
    background-color: powderblue;
    font-family: verdana;
    font-size: 150%;
}
 th, td{
    border: 1px solid black;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
    border-style: dashed;

}
th, td{
    border-radius: 10px;
    background-color: blanchedalmond;
}
table{
    tab-size: 100%;
    padding: 10px;
    border-spacing: 30px;
}
th:hover{
    background-color: rgb(241, 255, 41);
}
td:hover{
    background-color: rgb(241, 255, 41);
}

ul{
    list-style-type: none;
    background-color: blanchedalmond;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
}
li a {
    float: left;
    padding: 16px;
    color: rgb(13, 13, 13);
    text-decoration: none;
}
li a:hover{
    background-color: black;
    color:white;
}
